In [26]:
import pandas as pd
from scipy import stats
from scipy.stats import levene,ttest_ind

In [27]:
import pandas as pd

df_ttest = pd.read_excel("/Volumes/NGS/Myytcode/codeforytv/equal_varianc_pyttest.xls")

In [28]:
df_ttest

     Men  Women
0   35.9   35.9
1   36.1   36.0
2   36.1   36.2
3   36.2   36.2
4   36.2   36.3
..   ...    ...
59  37.3   37.4
60  37.3   37.4
61  37.4   37.7
62  37.4    NaN
63  37.5    NaN

[64 rows x 2 columns]

In [29]:
Men_temp = df_ttest[["Men"]]
Women_temp = df_ttest[["Women"]]
Women_temp = Women_temp.dropna()

In [31]:
Men_temp

     Men
0   35.9
1   36.1
2   36.1
3   36.2
4   36.2
..   ...
59  37.3
60  37.3
61  37.4
62  37.4
63  37.5

[64 rows x 1 columns]

In [32]:
statistic, p_value = stats.shapiro(Men_temp)
print(statistic)
print(p_value)

0.9803006463157962
0.3973703920900094

In [33]:
statistic, p_value = stats.shapiro(Women_temp)
print(statistic)
print(p_value)

0.9654095763249202
0.07775418021981252

In [34]:
# Perform Levene's test
statistic, p_value = levene(Men_temp, Women_temp)
print("Levene's test statistic:", statistic)
print("p-value:", p_value)

Levene's test statistic: [0.95332363]
p-value: [0.33077572]

##Levene's to show the samples have equal variance

## now we perform ttest

In [35]:
# Perform independent t-test
t_statistic, p_value = ttest_ind(Men_temp, Women_temp)
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: [-2.02946418]
p-value: [0.04455142]