In [1]:
import pandas as pd
from scipy import stats
from scipy.stats import wilcoxon

In [3]:
data_pressure = pd.read_excel("wilcoxontest-1.xlsx", sheet_name=1)
data_pressure

    Subject  Before  After
0         1     135    114
1         2     142    118
2         3     137    111
3         4     122    132
4         5     147    121
5         6     151    130
6         7     131    115
7         8     117    111
8         9     154    129
9        10     143    122
10       11     133    131
11       12     125    110
12       13     154    127
13       14     156    133
14       15     132    114
15       16     125    115
16       17     136    134
17       18     141    133
18       19     129    135
19       20     148    121
20       21     136    132
21       22     120    125
22       23     147    121
23       24     138    112
24       25     158    124

In [6]:
statistics, p_value = stats.shapiro(data_pressure["Before"])
print("Shapiro results")
print("statistics:",statistics)
print("p_value:", p_value)

Shapiro results
statistics: 0.9717859625816345
p_value: 0.690586268901825

In [7]:
statistics, p_value = stats.shapiro(data_pressure["After"])
print("Shapiro results")
print("statistics:",statistics)
print("p_value:", p_value)

Shapiro results
statistics: 0.9164829254150391
p_value: 0.04262892156839371

#### wilcoxon Singed Rank test ####

In [10]:
### 1st methord using scipy###
statistics, p_value = stats.wilcoxon(data_pressure["After"],data_pressure["Before"],
               alternative="two-sided",method= "exact")
print("Wilcoxon results")
print("statistics:",statistics)
print("p_value:", p_value)

Wilcoxon results
statistics: 18.0
p_value: 1.5079975128173828e-05

In [13]:
## 2nd method for wilcoxon test using pingouin library###
bp1 = pd.melt(
    data_pressure,
    id_vars= ["Subject"],
    value_vars=["Before","After"],
    var_name="Time",
    value_name= "Pressure"
)
bp1

    Subject    Time  Pressure
0         1  Before       135
1         2  Before       142
2         3  Before       137
3         4  Before       122
4         5  Before       147
5         6  Before       151
6         7  Before       131
7         8  Before       117
8         9  Before       154
9        10  Before       143
10       11  Before       133
11       12  Before       125
12       13  Before       154
13       14  Before       156
14       15  Before       132
15       16  Before       125
16       17  Before       136
17       18  Before       141
18       19  Before       129
19       20  Before       148
20       21  Before       136
21       22  Before       120
22       23  Before       147
23       24  Before       138
24       25  Before       158
25        1   After       114
26        2   After       118
27        3   After       111
28        4   After       132
29        5   After       121
30        6   After       130
31        7   After       115
32        8   After       111
33        9   After       129
34       10   After       122
35       11   After       131
36       12   After       110
37       13   After       127
38       14   After       133
39       15   After       114
40       16   After       115
41       17   After       134
42       18   After       133
43       19   After       135
44       20   After       121
45       21   After       132
46       22   After       125
47       23   After       121
48       24   After       112
49       25   After       124

In [14]:
import pingouin as pg

In [15]:
pg.normality(bp1, dv="Pressure",group= "Time")

               W      pval  normal
Time
Before  0.971786  0.690586    True
After   0.916483  0.042629   False

In [16]:
### wilcoxon test###
pg.wilcoxon(data_pressure["After"],data_pressure["Before"],
            alternative= "two-sided",
            method = "exact",
            correction = False)

          W-val alternative     p-val       RBC   CLES
Wilcoxon   18.0   two-sided  0.000015 -0.889231  0.144

In [17]:
pg.compute_effsize(data_pressure["After"], data_pressure["Before"],
                   paired=True,
                   eftype="cohen")

-1.5189981723158585